Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of
these two sets

In [21]:
set1 = {'apple','banana','chiku', 'mango'}
set2 = {'apple', 'orange','mango','pineapple'}
set3 =set1.union(set2)
list1 =[]
print("union of 2 sets:-",set3)
print("----------------------------------------------------------------------------------")
common_value=set1.intersection(set2)
print("common value between two sets:-",common_value)
print("---------------------------------------------------")
for values in set3:
    if values not in common_value:
        list1.append(values)
print("symmetric difference of these two sets:-", set(list1))

union of 2 sets:- {'banana', 'apple', 'pineapple', 'orange', 'chiku', 'mango'}
----------------------------------------------------------------------------------
common value between two sets:- {'mango', 'apple'}
---------------------------------------------------
symmetric difference of these two sets:- {'orange', 'chiku', 'banana', 'pineapple'}

via symmetric_difference function

In [25]:
set1 = {'apple','banana','chiku', 'mango'}
set2 = {'apple', 'orange','mango','pineapple'}
set3 = set1.symmetric_difference(set2)
set3

{'banana', 'chiku', 'orange', 'pineapple'}